h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e4d39b;
}

.root {
    background-color: #494949;
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    height: 340px;

}

.result {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    background-color: #0abab5;
    border-radius: 10px;
    height: 50px;
    padding-right: 10px;
    padding-left: 5px;
}

.value {
    text-align: left;
    font-size: 25px;
    font-weight: bold;
}

.delete {
    text-align: right;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

button {
    background-color: #e0e0e0;
    border: none;
    border-radius: 4px;
    color: #333;
    cursor: pointer;
    font-size: 16px;
    height: 40px;
}

button:hover {
    background-color: #ccc;
}

button:active {
    background-color: #999;
}

button:focus {
    outline: none;
}

button.delete {
    background-color: #ff0000;
    color: #fff;
}